* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;

    outline: 1px solid orange;
}

html, body {
    width: 100vw;
    height: 100vh;
}

button {
    font-size: 1em;
    padding: 1em;
    border: 1px ridge black;
    border-radius: 6px;
}

/* body, #frame, #display #keypad, #numberKeys, #operatorKeys {
    display: flex;
    justify-content: center;
    align-items: center;
} */

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

#frame {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 40vw;
    height: 70vh;
    border: 4px ridge black;
    border-radius: 6px;
    padding: 3vh;
    gap: 3vh;
}

#display {
    width: 100%;
    height: 20%;
    border: 2px inset black;
}

#keypad {
    display: flex;
    width: 100%;
}

#numberKeys {
    
}

#operatorKeys {
    display: flex;
    flex-direction: column;
}