* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;

    outline: 1px solid orange;
}

html, body {
    width: 100vw;
    height: 100vh;
}

/* body, #frame, #display #keypad, #numberKeys, #operatorKeys {
    display: flex;
    justify-content: center;
    align-items: center;
} */

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

#frame {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 40vh;
    height: 70vh;
    border: 4px ridge black;
    border-radius: 6px;
    padding: 3vh;
    gap: 3vh;
}

#display {
    width: 100%;
    height: 20%;
    border: 2px inset black;
}

#keypad {
    display: flex;
    height: 100%;
}

#numberKeys {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#two { order: 7;}
#one { order: 8;}
#three { order: 9;}
#four { order: 4;}
#five { order: 5;}
#six { order: 6;}
#seven { order: 1;}
#eight { order: 2;}
#nine { order: 3;}
#zero { order: 10;}
#decimal { order: 11;}
#negative { order: 12;}

#operatorKeys {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#multiplicationBtn { order: 3;}
#divisionBtn { order: 4;}
#additionBtn { order: 5;}
#subtractionBtn { order: 6;}
#deleteBtn { order: 1;}
#allClearBtn { order: 2;}
#prevAnsBtn { order: 7;}
#equalsBtn { order: 8;}

button {
    font-size: 1em;
    padding: 1em;
    border: 1px ridge black;
    border-radius: 6px;
}